<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="comentarios-element">
  <template>
    <style>
      :host {
        display: block;
        background-color: rgb(15, 189, 180);
        font-family: 'Source Sans Pro', sans-serif;
        padding-left: 5%;
      }

      button {
        background-color: #0596da;
        margin-left: 81%;
        border-radius: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        margin-bottom: 5%;
      }

      input {
        border-radius: 5px;
      }

      #login {
        background-color: #00ffc886;
        font-family: 'Alegreya', serif;
      }

      #prenda {
        margin-left: 20px;
      }
      #talla {
        margin-left: 35px;
      }
      #costo {
        margin-left: 28px;
      }
    </style>
    <h2 id="login">Peticiones</h2>
    <form>
      <p>
        <label for="com1">Comentario 1</label><br>
        <textarea name="com1" id="com1" rows="7" cols="80"></textarea>
      </p>
      <p>
        <label for="com2">Comentario 2</label><br>
        <textarea name="com2" id="com2" rows="7" cols="80"></textarea>
      </p>
      <p>
        <label for="com3">Comentario 3</label><br>
        <textarea name="com3" id="com3" rows="7" cols="80"></textarea>
      </p>
      <button type="button" on-click="solicitar" id="btnData">Solicitar</button>
    </form>
  </template>

  <script>

    class ComentariosElement extends Polymer.Element {
      static get is() { return 'comentarios-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'comentarios-element'
          }
        };
      }

      solicitar() {
        var req1 = new XMLHttpRequest();
        req1.open('GET', 'https://jsonplaceholder.typicode.com/comments', false);
        req1.send(null);
        if (req1.status == 200) {
          console.log('Respuesta correcta');
          var obj1 = req1.responseText;
          var obj2 = JSON.parse(obj1);
          var obj3 = JSON.stringify(obj2[0]);
          let elemento1 = this.shadowRoot.getElementById("com1");
          elemento1.textContent = obj3;
          var obj4 = req1.responseText;
          var obj5 = JSON.parse(obj4);
          var obj6 = JSON.stringify(obj5[1]);
          let elemento2 = this.shadowRoot.getElementById('com2');
          elemento2.textContent = obj6;
          var obj7 = req1.responseText;
          var obj8 = JSON.parse(obj7);
          var obj9 = JSON.stringify(obj8[2]);
          let elemento3 = this.shadowRoot.getElementById('com3');
          elemento3.textContent = obj9;
        } else {
          console.log('la petición fallo!!');
        }
      }

    }

    window.customElements.define(ComentariosElement.is, ComentariosElement);
  </script>
</dom-module>