<link rel="import" href="../polymer/polymer-element.html">


<dom-module id="my-login">
    <template>
        <style>
          :host {
            display: block;
          }
        </style>
        <template is="dom-if" if="[[!acceso]]" restamp>
        <form>
          <p>
            <!-- <label for="user">Username:</label> -->
            <input  placeholder="Username" for="users" type="text" name="user" id="users">
          </p>
          <p>
            <input placeholder="Password" for="pass" type="password" name="pass" id="pwd">
          </p>
          <button type="button" on-click="validate" id="btnData">Continue</button>
        </form>
    ​
      </template>
    ​
        <template is="dom-if" if="[[acceso]]">
            <h2>Bienvenido [[acceso]]</h2>
      </template>
    ​
        </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          users: {
            type: Array,
            value: [
                { first: 'Bob', last: 'Smith', pass: '12345', user: 'Bob123' },
                { first: 'Jaime', last: 'Perez', pass: '246810', user: 'Jaime123'},
                { first: 'Betty', last: 'Ramirez', pass: '13579', user: 'Betty123' },
                { first: 'Juan', last: 'Johnson', pass: 'Los2019', user: 'Juan123' },
                { first: 'Arantxa', last: 'Estrada', pass: 'Fiam3007', user: 'Arantxa123' }
              ]},
            acceso:{
              type: String,
              value: ""

            }
          };

        }
      validate() {

        let us = this.shadowRoot.getElementById('users');
        let ps = this.shadowRoot.getElementById('pwd');

        console.log(us.value, ps.value);
        this.users.forEach(key => {
          if (us.value == key.user && ps.value == key.pass) {
            console.log(us.value, ps.value, key.user, key.pass);
            this.acceso = key.first;
           }
        });
      }
    }
    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>